.rspress-logo {
    height: 2.6rem;
}
table thead tr {
    background-color: #0088CC;
    color: #ffffff;
}
.text-text-1{
    color: #ffffff;
}

.rspress-doc [class^="language-"] .rspress-code-content > code {
    padding: 16px 20px;
    background-color: #384548;
    color: #ffffff;
}
.clip_aacad{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(78deg, #3B91FF -3.23%, #0D5EFF 51.11%, #C069FF 98.65%);
}
.button_e8e0d.brand_dc619 {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
    text-align: center;
    border-radius: 50px;
    background-image: linear-gradient(78deg, #3B91FF -3.23%, #0D5EFF 51.11%, #C069FF 98.65%);
}
.button_e8e0d.brand_dc619:hover {
    opacity: 0.8; /* 可选：悬停时稍微变淡 */
}
.font-bold {
    text-align: left;
}
.featureCard_a17b6{
    background: #E6F0FC;
}